In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os


# Columns 
# 1: id (int) [0-...]
# 2: year (number)
# 3: month (number)
# 4: day_of_month (number)
# 5: prp (float) [mm]
# 6: tmin (float) [°C]
# 7: tmax (float) [°C]
# negative values (-99.9) are missing data


# Carga de datos
df = pd.read_csv(os.path.join('..', 'data','data_precipitaciones', 'SANMARTIN_NARANJILLO.csv'))

In [10]:
# Adding column names
df.columns = ['id', 'year', 'month', 'day_of_month', 'prp', 'tmin', 'tmax']
# replacing negative values with NaN
df[df<0] = np.nan
# sampling 20 rows
df.sample(20)

          id  year  month  day_of_month   prp  tmin  tmax
6850    6851  1994      1             2   0.0   NaN   NaN
1269    1270  1978      9            22   0.0   NaN   NaN
12682  12683  2009     12            21  12.8  31.6  18.4
6476    6477  1992     12            24   0.0   NaN   NaN
1108    1109  1978      4            14   6.5   NaN   NaN
9730    9731  2001     11            21   0.6  30.2  20.0
12516  12517  2009      7             8   0.9  28.2  19.0
5760    5761  1991      1             8   0.0   NaN   NaN
11877  11878  2007     10             8  17.3  30.6  18.6
5974    5975  1991      8            10   0.0   NaN   NaN
8472    8473  1998      6            12   7.7  27.4  18.2
5607    5608  1990      8             8   0.0   NaN   NaN
2977    2978  1983      5            27   0.0   NaN   NaN
10712  10713  2004      7            30  13.7  28.2  17.8
2459    2460  1981     12            25   2.0   NaN   NaN
12378  12379  2009      2            20   0.0  28.4  18.2
12314  12315  2008     12            18   0.0  30.0  20.2
9547    9548  2001      5            22   0.7  28.4  17.8
3941    3942  1986      1            15   8.0   NaN   NaN
11344  11345  2006      4            23   0.0  26.2  20.0

In [11]:
# Number of rows 
print('Number of rows: ', df.shape[0])
# Proportion of Nan by column
print('Proportion of Nan by column: ', df.isna().sum()/df.shape[0])

Number of rows:  14335
Proportion of Nan by column:  id              0.000000
year            0.000000
month           0.000000
day_of_month    0.000000
prp             0.009627
tmin            0.566097
tmax            0.566167
dtype: float64